/* ===================================================================
   ! Expo view
   ===================================================================*/

.expo-background {
    background: #282828 url("expo-scale-assets/stripes.svg");
    background-repeat: repeat;
}

.expo-workspace-thumbnail-frame {
    border: 5px rgba(0, 0, 0, 0);
    border-image: url("expo-scale-assets/workspace-shadow.svg") 6;

    &#active {
        border: 5px rgba(0, 0, 0, 0);
        border-image: url("expo-scale-assets/workspace-shadow.svg") 6;
    }
}

.workspace-thumbnails {
    spacing: 26px;
    padding-left: 10px;
    padding-right: 9px;
}

/* This shades the workspace thumbnails */
.workspace-thumbnails .workspace-overview-background-shade {
    background-color: rgba(0, 0, 0, 0);
}

.expo-workspaces-name-entry {
    border-image: url("expo-scale-assets/workspace-name.svg") 6;
    height: 15px;
    padding: 10px 12px;
    text-align: center;
    font-weight: bold;
    color: $text-primary;

    &#selected {
        border-image: url("expo-scale-assets/workspace-name-focused.svg") 6;
        color: $text-primary;
    }

    &:focus,
    &#selected:focus {
        border-image: url("expo-scale-assets/workspace-name-pressed.svg") 7;
        color: $text-primary-invert;
        selected-color: $text-primary;
        caret-color: $text-primary-invert;
        caret-size: 1px;
        selection-background-color: darken($accent, 10%);
    }
}

.workspace-close-button {
    background-image: url("widget-assets/close.svg");
    background-size: 41px 61px;
    @include size(41px, 61px);
    -cinnamon-close-overlap: 28px;
}

.workspace-add-button {
    border-image: url("expo-scale-assets/add-workspace-bg.svg") 6;
    background-image: url("expo-scale-assets/plus.svg");
    background-size: 25px 24px;
    height: 200px;
    width: 35px;

    &:hover {
        border-image: url("expo-scale-assets/add-workspace-bg.svg") 6;
        background-image: url("expo-scale-assets/plus-hover.svg");
    }
}

.window-close-area {
    border-image: url("expo-scale-assets/workspace-close-area-bg.svg") 9;
    background-image: url("expo-scale-assets/trash.svg");
    height: 100px;
    width: 350px;
}
/* ===================================================================
   ! Scale
   ===================================================================*/

/* The background for the scale view */
.workspace-overview-background-shade {
    background-color: alpha(#000, .65);
}

.window-caption {
    border-image: url("expo-scale-assets/window-name.svg") 6;
    color: $text-primary;
    font-size: 9pt;
    font-weight: bold;
    padding: 6px 8px;
    spacing: 25px;
    -cinnamon-caption-spacing: 10px;

    &#selected {
        border-image: url("expo-scale-assets/window-name-focused.svg") 6;
        color: $text-primary;
    }
}

.window-close {
    background-image: url("widget-assets/close.svg");
    background-size: 41px 61px;
    @include size(41px, 45px);
    -cinnamon-close-overlap: 24px;
}

.window-iconbox {}
