style "nautilus-sidebar" {

	text[NORMAL]	= "#CCCCCC"

	font_name 	                  	= "Regular"

	GtkTreeView::odd_row_color		= "#2D2D2D"
	GtkTreeView::even_row_color		= "#2D2D2D"

      # these make the padding from left window edge a little more sane
	GtkTreeView::horizontal_separator	= 15
	GtkTreeView::vertical_separator		= 2
}

widget_class	"*Nautilus*Places*Sidebar*"	style "nautilus-sidebar"

style "nautilus-breadcrumbs"
{
	xthickness = 3
	ythickness = 0
	
	GtkButton::child-displacement-y		= 0
	GtkButton::inner-border				= { 0, 8, 0, 0}

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			shadow				= OUT
			recolorable     	= TRUE
			state				= PRELIGHT
			file				= "nautilus/breadcrumb_prelight.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}		

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			shadow				= IN
			state				= PRELIGHT
			file				= "nautilus/breadcrumb_active.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= NORMAL
			file				= "nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= PRELIGHT
			file				= "nautilus/breadcrumb_active.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= ACTIVE
			file				= "nautilus/breadcrumb_active.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}  

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= INSENSITIVE
			file				= "nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		} 

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= SELECTED
			file				= "nautilus/breadcrumb_active.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	}
}

widget_class "*NautilusPathBar.*ToggleButton" style "nautilus-breadcrumbs" # afecta solo a los botones de direcciones :)


style "nautilus-left-slider"
{
	xthickness = 0
	ythickness = 0
	
	engine "pixmap"
	{
		image {
			function 		= BOX
			file			= "nautilus/left_slider_normal.png"
			border			= { 3, 3, 3, 3 }
			stretch			= TRUE
		}
	}

}



widget "Nautilus*left_slider*" style "nautilus-left-slider" # afecta solo al boton a la izquierda del breadcrumb

style "nautilus-mode-button"
{
	bg[NORMAL]	= "#1A1A1A"
	bg[PRELIGHT]	= "#1A1A1A"
	bg[SELECTED]	= "#1A1A1A"

	engine "murrine" {
		gradient_shades     = {1.0,1.0,1.0,1.0}
	}

}

style "nautilus-right-slider"
{	
	xthickness = 0
	ythickness = 0
	
	engine "pixmap"
	{
		image {
			function 		= BOX
			file			= "nautilus/right_slider_normal.png"
			border			= { 3, 3, 3, 3 }
			stretch			= TRUE
		}
	}
}

widget "Nautilus*right_slider*" style "nautilus-right-slider" # afecta solo al boton a la derecha del breadcrumb

widget		"*GtkModeButton*"		style "nautilus-mode-button"
