/* Fallback Mode Panel */
PanelWidget,
PanelTop,
PanelApplet,
PanelToplevel {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));
    -unico-outer-stroke-gradient:  -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#000000, 1.0)),
                                                 to (alpha (#000000, 1.0)));
    -unico-outer-stroke-width: 0 0 0 0;
    -unico-inner-stroke-width: 0 0 0 0;
     border-width:0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#333333, 1.0)),
                                                 to (alpha (#333333, 1.0)));

    border-radius:0;

}

.gnome-panel-menu-bar{
 
 background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));


    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (alpha (#525252, 1.0)),
                                           to (alpha (#525252, 1.0)));
    -unico-outer-stroke-gradient:  -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#000000, 1.0)),
                                                 to (alpha (#000000, 1.0)));
    -unico-outer-stroke-width: 0 0 0 0;
    -unico-inner-stroke-width: 0 0 0 0;
     border-width:0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#555555, 1.0)),
                                                 to (alpha (#555555, 1.0))); 
    border-radius:0;


}
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {

 background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));


    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (alpha (#525252, 1.0)),
                                           to (alpha (#525252, 1.0)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (alpha (#e66025, 1.0)),
                                           to (alpha (#e66025, 1.0)));   
    border-radius:0;
    -unico-outer-stroke-width: 0 0 0 0;
    -unico-inner-stroke-width: 0;
     border-width:0;

    text-shadow: 0 1 shade (#555555, 1.0);
}

PanelAppletFrame { 
 background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));

	text-shadow: none;
    -unico-outer-stroke-width: 0 0 0 0;
    -unico-inner-stroke-width: 0 0 0 0;

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#333333, 1.0)),
                                                 to (alpha (#333333, 1.0)));
     border-width:0;
}

PanelApplet .button {
    border-radius:0;

	text-shadow: none;
 background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));
    -unico-outer-stroke-gradient:  -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#333333, 1.0)),
                                                 to (alpha (#333333, 1.0)));
    -unico-outer-stroke-width: 0 0 3 0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (alpha (#555555, 1.0)),
                                           to (alpha (#555555, 1.0)));   


    -unico-inner-stroke-width: 0 0 1 0;
     border-width:0;

}

PanelApplet .button:prelight:active,
PanelApplet .button:active {
        border-radius:0;
        color: #e66025;
	text-shadow: none;
    -unico-outer-stroke-gradient:  -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#333333, 1.0)),
                                                 to (alpha (#333333, 1.0)));
    -unico-outer-stroke-width: 0 0 3 0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (alpha (#e66025, 1.0)),
                                           to (alpha (#e66025, 1.0)));   


    -unico-inner-stroke-width: 0 0 1 0;
     border-width:0;
 background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));

}

PanelApplet .button:prelight {
    -unico-outer-stroke-gradient:  -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#333333, 1.0)),
                                                 to (alpha (#333333, 1.0)));
    -unico-outer-stroke-width: 0 0 3 0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (alpha (#e66025, 1.0)),
                                           to (alpha (#e66025, 1.0)));   


    -unico-inner-stroke-width: 0 0 1 0;
        border-width:0;
        border-radius:0;
        color: #e66025;
	text-shadow: none;
 background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));
}

ClockBox {
    -unico-outer-stroke-width: 0 0 0 0;
    -unico-inner-stroke-width: 0 0 0 0;
     border-width:0;

	text-shadow: none;

}

WnckPager, WnckTasklist {

    -unico-outer-stroke-width: 0 0 0 0;
    -unico-inner-stroke-width: 0 0 0 0;
     border-width:0;

 background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));

	text-shadow: none;
}

NaTrayApplet {
 background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (#333333, 1.0)),
                                     to (alpha (#333333, 1.0)));
	-NaTrayApplet-icon-padding: 2;
	-NaTrayApplet-icon-size: 24;
    border-width:0;
    -unico-outer-stroke-width: 0 0 0 0;
    -unico-inner-stroke-width: 0 0 0 0;

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#333333, 1.0)),
                                                 to (alpha (#333333, 1.0)));

	text-shadow: none;
}
